.container{
    width: 100%;
}
.manual_container{
    margin-top: 20px;
    .challenge_title{
        margin-bottom: 10px;
        color: #363636;
    }
    .challenge_bottom{
        display: flex;
        justify-content: flex-end;
        gap: 10px;
    }
}
.manual_md{
    margin-top: 20px;
    font-size: 18px;
    line-height: 140%;
    color: rgba(0, 0, 0, 0.651);
}