.chell {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
	h2 {
		color: #363636;
		font-size: 2rem;
		font-weight: 600;
		line-height: 1.125;
	}
	p {
		color: #4a4a4a;
		font-size: 1em;
		font-weight: 400;
		line-height: 1.5;
	}
	.chell_bottom {
		width: 100%;
		display: flex;
		justify-content: space-between;
		gap: 20px;
	}
	.chell_left {
		display: flex;
		gap: 10px;
	}
	.chell_right {
		display: flex;
		gap: 10px;
		align-items: center;
		img {
			width: 26px;
			height: auto;
			object-fit: contain;
		}
	}
	.chell_option {
		align-items: center;
		background-color: #f5f5f5;
		border-radius: 4px;
		color: #4a4a4a;
		display: inline-flex;
		font-size: 0.75rem;
		height: 2em;
		justify-content: center;
		line-height: 1.5;
		padding-left: 0.75em;
		padding-right: 0.75em;
		white-space: nowrap;
		color: white;
		background-color: #00d1b2;
	}
	.chell_mode {
		background-color: #363636;
	}
}
